.gitattributes
.Rhistory
notes.txt
backups_shiny.io/
Präsentationen/
research_proposal/
Text/
Literatur/
data_to_upload_or_generateDs/


app/.bash_history
app/.Renviron
app/.wget-hsts
app/.config/
app/.local/
app/.mozilla/
app/bin/
app/data/
app/not_used/
app/generate_datasets/input/
app/generate_datasets/output/
app/rsconnect/

*.yml





