.gitattributes
.Rhistory

backups_shiny.io/
app/.config/
app/.local/
app/data/

app/.config/rstudio/rstudio-prefs.json
app/.local/share/rstudio/addin_registry
app/.local/share/rstudio/history_database
app/.local/share/rstudio/monitored/lists/command_palette_mru
app/.local/share/rstudio/monitored/lists/file_mru
app/.local/share/rstudio/monitored/lists/help_history_links
app/.local/share/rstudio/monitored/lists/plot_publish_mru
app/.local/share/rstudio/monitored/lists/project_mru
app/.local/share/rstudio/monitored/lists/user_dictionary
app/.local/share/rstudio/notebooks/patch-chunk-names
app/.local/share/rstudio/client-state/environment-grid.persistent
app/.local/share/rstudio/client-state/source-column-manager.persistent
app/.local/share/rstudio/client-state/workbenchp.persistent
app/.local/share/rstudio/notebooks/paths
app/.local/share/rstudio/pcs/debug-breakpoints.pper
app/.local/share/rstudio/pcs/files-pane.pper
app/.local/share/rstudio/pcs/source-pane.pper
app/.local/share/rstudio/pcs/windowlayoutstate.pper
app/.local/share/rstudio/pcs/workbench-pane.pper
app/.local/share/rstudio/projects/none/console07/82F7173F
app/.local/share/rstudio/persistent-state

app/.local/share/rstudio/persistent-state
app/.local/share/rstudio/persistent-state
app/.local/share/rstudio/sessions/active/session-5774b829/properites/executing
app/mastering_shiny/app.R
app/data/Rezeptpflicht/Rezeptpflicht.rtf
app/data/Rezeptpflicht/rezeptpflicht.rds
app/data/Rezeptpflicht/download_rezeptpflichtverordnung.txt
app/.bash_history
app/.Renviron
app/rsconnect/shinyapps.io/vere/rstudio.dcf
data/20220101_Druckwerk_zum_Erstattungskodex_(Internet).pdf
notes.txt
Proposal_Gebhart.pptx
backups_shiny.io/extraction/.Renviron
*.yml
app/Verdrängungsfaktoren_NRF

app/.mozilla/firefox/Crash Reports/InstallTime20220519220738
app/parse_verdrängungsfaktoren_NRF.html
app/parse_verdrängungsfaktoren_NRF.Rmdapp/Rezeptursammlung.txt
app/Selenium.R
app/Rezeptursammlung.txt
app/parse_verdrängungsfaktoren_NRF.Rmd
app/Verdrängungsfaktoren_NRF.txt
app/not_used.R
data_to_upload_or_generateDs/20220101_Druckwerk_zum_Erstattungskodex_(Internet).pdf
data_to_upload_or_generateDs/anlage-f_el2021-1_2800.pdf
data_to_upload_or_generateDs/interne_Rezeptursammlung_3.zip
